:global(body) ,:global(html), :global(#root)
    margin 0
    height 100%

	
:global(body) 
	background-color #81858c

.mainDiv
  	height 100%

.div_1
	height 50px
	border solid 1px
	


.welcomeDiv
	font-size 2.5em
	color white
	text-align center
	vertical-align middle
	margin-top 10px
	margin-bottom 10px

.welcomeDivUserName
	color black
	

.chat_room_top_side
	height 80%


.chat_room_top_left_side
	display inline-block
	border solid 1px #ccc
	height 97%
	overflow scroll
	overflow-x hidden
	vertical-align middle
	margin-left 10	px
	background-color #ff7575
	padding-bottom 13px
	border-radius 5px

.chat_room_top_right_side
	display inline-block
	border solid 1px #ccc
	height 97%
	overflow scroll
	overflow-x hidden
	vertical-align middle
	background-color white
	padding-bottom 13px
	border-radius 5px


.chat_room_top_left_side
	width 15%


.chat_room_top_right_side
	display inline-block
	width 83%
	border solid 1px #ccc

.chat_room_bottom_side
	border solid 1px #ccc
	margin-left 10px
	margin-right 15px
	background-color #ff7575
	padding-top 8px
	padding-bottom 8px
	padding-left 5px
	border-radius 5px

.message_input
	display inline-block
	height 30px
	border 0
	width 97%
	outline none
	padding-left 5px
	border-radius 5px

.send_button
	display inline-block
	height 40px
	width 2%
	vertical-align middle
	background url("../assets/send-button.png")
	background-repeat no-repeat
	background-position center
	cursor pointer
	margin-bottom 5px


.messageImageProfile
	display inline-block
	height 40px
	width 5%
	margin-right 10px
	margin-left 10px
	vertical-align middle
	background url("../assets/user.png")
	background-repeat no-repeat
	background-position center

.messageContent
	display inline-block
	vertical-align middle
	border solid 1px
	border-radius 3px
	padding 8px
// .messageText
// 	border solid 1px
// 	border-radius 3px
// 	padding 10px

.messageContainer
	margin-top 5px
	margin-bottom 5px
