.container
  text-align center

.welcomeDiv
  font-size 3.5em
  margin-bottom 15px


.submitButton
  display inline-block
  vertical-align middle
  //width 200px
  padding 12px
  margin-left 1px
  box-sizing border-box
  border-radius 3px
  background-color #CCC 
  cursor pointer

.userInputName
  display inline-block
  vertical-align middle
  width 400px
  font-size 2em
	border-radius 5px

.errorMessage
  font-size 13px
  border  1px solid
  margin 10px 0px
  padding 15px 10px 15px 50px
  background-repeat no-repeat
  background-position 10px center
  color #D8000C
  background-color #FFBABA
  // background-image url('error.png')